.custom-header {
  background: #f9efef;
}
.nav__logo {

  height: 4rem;
}

.title { 
  font-size: 50px;
  color: rgb(86, 3, 93);
  text-shadow: 2px 1px rgb(4, 4, 4);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.conversion-box {
  background-color: #f199c1;
  padding: 80px 100px;
  border-radius: 10px;
  max-width: 700px;
  width: 70%;
  border: 5px solid black;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.measurments {
  width: 90%;
  padding: 10px;
}

label {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
}



