/* .custom-header {
  background: #716171;
}

.nav__logo {
  margin-left: -140px;
  height: 4rem;
}

.title {
  font-size: 50px;
  margin-left: 210px;
}

.center-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.conversion-box {
  background-color: #f9a8a8;
  padding: 80px 100px;
  border-radius: 10px;
  max-width: 700px;
  width: 70%;
  border: 5px solid black;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.measurments {
  width: 45%; 
  padding: 5px;
}

label {
  font-weight: bold;
   margin: 5px 0;  
  font-size: 25px;
} */

.custom-header {
  background: #716171;
}

.nav__logo {
  margin-left: -140px;
  height: 4rem;
}

.title {
  font-size: 50px;
  margin-left: 210px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.conversion-box {
  background-color: #f9a8a8;
  padding: 80px 100px;
  border-radius: 10px;
  max-width: 700px;
  width: 70%;
  border: 5px solid black;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.measurments {
  width: 90%;
  padding: 10px;
}

label {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
}



