.custom-header {
  background: #b5ecf9;
}

.nav__logo {
  height: 4rem;
  margin-left: -140px;
}

.title {
  margin-right: 200px;
  font-size: 50px;
  margin-left: 250px;
  color: rgb(86, 3, 93);
  text-shadow: 3px 3px white;
}

.box {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(57, 118, 223);
  margin: 50px 120px;
  border-radius: 20px;
  padding: 15px;
}

#quote p {
  font-size: 25px;
  margin: 20px 80px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 15px;
  font-weight: 500;
  border-radius: 25px;
}

button {
  background-color: #4a88f3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

button:hover {
  background-color: #153a7a;
}

#generateBtn {
  font-size: 28px;
}