.custom-header {
  background: #716171;
}

.nav__logo {
  margin-left: -140px;
  height: 4rem;
}

.title {
  font-size: 50px;
  margin-left: 250px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.conversion-box {
  background-color: #f1c2d6;
  padding: 80px 100px;
  border-radius: 10px;
  max-width: 900px;
  width: 70%;
  border: 5px solid black;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.measurments {
  width: 110%;
  padding: 10px;
  margin-inline: 8px;
  font-size: 15px;
}

label {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
}

.btn-default {
  background-color: rgb(251, 248, 252);
  color: black;
  font-size: 30px;
}

.btn-default.active {
  background-color: #ea68f4;
  color: rgb(235, 237, 240);
}

/* #block1 {
  margin: 50px 100px;
  padding: 30px;
}
#block2 {
  margin: -139px 112px;
  padding: 20px;
}
#block3 {
  margin: 61px 112px;
  padding: 20px;
} */
